.layout {
    padding-left: 32px;
    padding-right: 32px;
}

.layout-fluid {
    padding-left: 32px;
    padding-right: 32px;
}

@media screen and (max-width: 768px) {
    .layout {
        padding-left: 32px;
        padding-right: 32px;
    }

}